h1 {
  text-align: center;
  max-width: 600px; /* 시간표 너비 고정 */
  padding: 30px;
  font-size: 4rem;
}
.grid-container {
  display: grid;
  grid-template-columns: 100px repeat(5, 1fr);
  max-width: 600px;
  height: 400px;
  color: black;
}
.grid-item {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
}
/* .grid-item:nth-child(1){
    border: 1px solid white;
} */

.grid-item:nth-child(9){
  grid-area: 2/3/4/4;
}

.grid-item:nth-child(11){
  grid-area: 2/5/4/6;
}

.grid-item:nth-child(18){
  grid-area: 4/2/6/3;
}

.grid-item:nth-child(20){
  grid-area: 4/4/6/5;
}

.grid-item:nth-child(31){
  grid-row: 6/8;
  grid-column:5/6;
}
.grid-item:nth-child(32){
  grid-row: 6/8;
  grid-column:6/7;
}

.grid-item:nth-child(35){
  grid-row: 7/9;
  grid-column:3/4;
}
.grid-item:nth-child(36){
  grid-row: 7/9;
  grid-column:4/5;
}

.grid-item:nth-child(38){
  background-color: goldenrod;
}

.grid-item:nth-child(40){
  background-color: goldenrod;
}

.days-of-the-week {
  color: white;
  background-color: skyblue;
}

